<div class="row">
	<div class="col col-xl-6 text-center">
		<div id="users-date-filter" class="row">
			<div class="col text-center">
				<label for="fromDate">From:</label>
				<input type="date" id="fromDate" name="fromDate" value="@ViewBag.MinDate" min="@ViewBag.MinDate" max="@ViewBag.MaxDate" />
			</div>
			<div class="col text-center">
				<label for="toDate">To:</label>
				<input type="date" id="toDate" name="toDate" value="@ViewBag.MaxDate" min="@ViewBag.MinDate" max="@ViewBag.MaxDate" />
			</div>
		</div>
		<div id="users-table"></div>
		<div id="users-pagination-btns" class="btn-group" role="group"></div>
	</div>
	<div class="col col-xl-6 text-center">
		<div id="users-performance-chart"></div>
		<div id="user-or-project-btns" class="btn-group" role="group"></div>
	</div>
</div>