<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row">
	<div class="col">
		<div class="row" id="users-date-filter">
			<div class="col text-center">
				<label for="fromDate">From:</label>
				<input type="date" id="fromDate" name="fromDate" value="@ViewBag.MinDate" min="@ViewBag.MinDate" max="@ViewBag.MaxDate" />
			</div>
			<div class="col text-center">
				<label for="toDate">To:</label>
				<input type="date" id="toDate" name="toDate" value="@ViewBag.MaxDate" min="@ViewBag.MinDate" max="@ViewBag.MaxDate" />
			</div>
		</div>
		<div class="row" id="users-table"></div>
		<div class="row text-center" id="users-pagination">
			<p id="pages"></p>
			<p id="pageNumber"></p>
		</div>
	</div>
	<div class="col text-center">
		<div id="user-performance-chart"></div>
		<br />
		<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
			<input value="user" type="radio" class="btn-check" name="user-or-project" id="user" autocomplete="off" checked>
			<label class="btn btn-outline-primary" for="user">User</label>
			<input value="project" type="radio" class="btn-check" name="user-or-project" id="project" autocomplete="off">
			<label class="btn btn-outline-primary" for="project">Project</label>
		</div>
	</div>
</div>